body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../images/logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    width: 90px;
    max-width: 400px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}


h1 {
    color: #000; 
    font-family: 'Alimentos del Alba', sans-serif;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 21 !important; 
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1.5em;
}

label {
    display: block;
    margin-bottom: 8px;
    color: rgb(0, 0, 0); 
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0); 
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
    color: #000; 
}

button {
    width: 100%;
    padding: 12px;
    background-color: #00b318; 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003d80; 
}

@media (max-width: 600px){
    .login-container{
        padding: 20px;
    }
    h1{
        font-size: 1.3em;
        top: 15px;
        padding: 10px 20px;
    }
    .form-group{
        margin-bottom: 15px;
    }
    label{
        font-size: 0.95em;
    }
    input[type="text"],
    input[type="password"],
    button{
        padding: 10px;
        font-size: 1em;
    }
}